
/*CELULARES MODO PAISAGEM*/
@media (min-width:541px) { /*IPHONE SE*/
    body {
        height: 100vh;
    }
    h1 {
        margin: 0;
        padding: 0;
        position: fixed;
        right: 25px;
        top: 25px;
        font-size: 22px;
        color: blueviolet;
    }
    .divTabelas {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 99%;
        max-height: 99%;

    }
    .calcTable {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .calcTable td::before {

        padding-top: 92%;
        /* Garante que a altura seja sempre 100% da largura */
    }
    .historyTable {
        width: 50%;
    }
}
/*CELULARES MODO RETRATO*/
@media (min-width: 740px)and (max-height: 932px) {
    .calcTable td::before {
        padding-top: 75%;
    }
    h1{
        display: flex;
        position: fixed;
        right: 30px;
        top: 30px;
        color: brown;
    }
}
@media (min-width: 882px)and (max-height: 344px) {/*Galaxy Z Fold5*/
    .calcTable td::before {
        padding-top: 60%;
    }
    h1{
        display: flex;
        color: blue;
        position: fixed;
        right: 30px;
        top: 30px
    }
}
/*IPADS PEQUENOS*/
@media (min-width:768px) and (min-height:1024px){/*Retrato*/
    h1{
        position: static;
        padding: 30px;
        font-size: 42px;
        color: yellowgreen;
    }
    .divTabelas{
        flex-direction: column;
        justify-content: right;
    }
    .calcTable{
        width:70%;
    }
    .calcTable button{
        font-size: 36px;
    }
    .visor{
        font-size: 36px;
    }
    .historyTable{
        max-height: 50%;
        width: 70%;
    }
    .historyTable thead td{
        font-size: 32px;
    }
    .historyTime tr td{
        font-size: 26px;
    }
    .history_table_button{
        font-size: 26px;
    }
}
@media (min-width:1024px) and (max-height:820px){/*paisagem*/
    h1{
        position: static;
        padding: 10px;
        font-size: 42px;
        color: yellow;
    }
    .calcTable td::before {
        content: '';
        /* display: block;*/
        padding-top: 100%;
        /* Garante que a altura seja sempre 100% da largura */
    }
}
/*TELAS MAIORES*/
@media (min-width:1024px) and (min-height:1366px){
    h1{
        padding-top: 50px;
        background-color: aqua;
    }
    .divTabelas{
        flex-direction: column;
    }
    .historyTable thead td{
        font-size: 38px;
    }
    .historyTime tr td{
        font-size: 28px;
    }
    .history_table_button{
        font-size: 28px;
    }

}


