* {
    /*Definições Gerais*/
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
    margin: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}
h1 {
    /*Titulo*/
    padding: 5px;
    text-align: center;
}
.divTabelas {
    /*--Tabelas estão dentro desta DIV*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    max-width: 95%;

}
table {
    /* Definições gerais das tabelas*/
    background-color: rgb(183, 183, 183);
    border: solid 2px rgb(128, 128, 128);
    border-radius: 15px;
    color: black;
    padding: 5px;
    width: 100%;
    font-size: 1em;
}
/*Tabela da Calculadora*/
.calcTable {
    max-width: 100%;
    table-layout: fixed;
    overflow: hidden;
}
.calcTable thead {
    max-width: 100%;
    min-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colunas de tamanho flexível */
}
.visorPai {
    /*Visor esta dentro deste elemento*/
    padding: 8px;
    display: flex;
    width: 100%;
    /* Faz o visorPai ocupar toda a largura do cabeçalho */
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.visor {
    /* Visar da calc*/
    font-size: 1.2em;
    max-width: 100%;
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Esconde o texto que ultrapassar o limite do elemento */
    text-overflow: ellipsis;
    /* Exibe "..." no final do texto cortado */
    direction: ltr;
    /* Inverte a direção do texto, mostrando os números mais recentes à esquerda */
    text-align: right;
    /* Alinha o texto à esquerda */
}
th {
    /*Célula do visor*/
    padding: 10px;
    border: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.322),
        0px 1px 3px rgba(0, 0, 0, 0.322),
        -1px 0px 3px rgba(0, 0, 0, 0.322),
        0px -1px 3px rgba(0, 0, 0, 0.322);
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Esconde o texto que ultrapassar o limite do elemento */
    text-overflow: ellipsis;
    /* Exibe "..." no final do texto cortado */
}
.calcTable tr {
    /*Linhas*/
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.calcTable td {
    /*Células dos botões*/
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.322),
        0px 1px 1px rgba(0, 0, 0, 0.322),
        -1px 0px 1px rgba(0, 0, 0, 0.322),
        0px -1px 1px rgba(0, 0, 0, 0.322);
    margin: 1px;
    padding: 0;
    width: 33%;
    /*aspect-ratio: 1 / 1; /* Mantém a altura igual à largura */
    display: flex;
    border-radius: 25px;
}
.calcTable button {
    /*Definições gerais dos botões da calc*/
    border-radius: 5px;
    font-size: 1.125em;
    background-color: rgba(178, 178, 178, 0.978);
    cursor: pointer;
    height: 100%;
    width: 100%;
}
button:hover {
    /*Efeito quando mouse passa por cima dos botões clicáveis*/
    background-color: rgb(87, 170, 202);
}
.calcTable td::before {
    content: '';
    /* display: block;*/
    padding-top: 100%;
    /* Garante que a altura seja sempre 100% da largura */
}




/*Tabela do histórico de operações*/
.historyTable {
    table-layout: fixed;
}
.historyTable thead td {
    /*titulo da tabela histórico*/
    text-align: center;
   font-size: 1.2em;
   
}

.historyTable tbody td {
    /*Células do corpo da tabela*/
    text-align: center;
    padding: 1px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
.historyTable tbody tr:last-child td {
    /*Células da ultima linha do corpo da tabela*/
    border-bottom: none;
    /* Remove a borda inferior da última linha */
}
.history_table_button {
    /*Célula que mostra as operações*/
    justify-content: left;
    width: 100%;
    border-radius: 5px;
    padding-top:7% ;
    cursor: pointer;
    background-color: rgb(183, 183, 183);
    height: 100%;
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Esconde o texto que ultrapassar o limite do elemento */
    text-overflow: ellipsis;
    /* Exibe "..." no final do texto cortado */
}
.celulaTime {
    /*Célula que mostra data e hora da operação*/
    max-width: 50%;
}

/*Celulares em modo paisagem*/
@media (min-width:667px) and (max-height:540px) {
    body{
        justify-content: center;
    }
    h1{
        display: none;
    }
    .divTabelas{
        height: 99%;
        display: flex;
        justify-content: space-between; /* Espaço entre os dois itens */
        align-items: center; /* Alinha verticalmente os itens no centro */
    }
    .calcTable{
       height: 100%;
       width: 50%;
    }
    .calcTable tbody{
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .calcTable tr{
        flex-grow: 1;/*faz com que o item cresça para ocupar o espaço extra no contêiner */
    }
    .calcTable td::before {
        padding-top: 0;
    }
    .historyTable{
        height: auto; /* Altura flexível */
        width: 50%; /* Ocupa metade da largura */
        align-self: center; /* Centraliza verticalmente */
    }

}

/*ipads*/
@media (min-width:768px) and (min-height:1024px) {/*Retrato*/
    h1{
        font-size: 2.5em;
    }
    .divTabelas{
        width: 89%;
    }
    .calcTable button{/*Botões da calculadora*/
        font-size: 1.9em;
    }
    .visor{
        font-size: 1.8em;
    }
    .historyTable thead td{/*Título Histórico*/
        font-size: 1.950em;
    }
    .historyTime td{/*Célula que mostra hora e tempo da operação na tabela histórico*/
        font-size: 1.5em;
    }
    .history_table_button{/*Célula que mostra as ultimas operações*/
        font-size: 1em;
    }

}
/*ipad maiores*/
@media (min-width:853px) and (min-height:1024px) {/*Retrato*/
    h1{
        font-size: 3em;
        padding: 8px;
    }
    .divTabelas{
        width: 79%;
    }
    .calcTable button{/*Botões da calculadora*/
        font-size: 2.2em;
    }
    .visor{
        font-size: 2.2em;
    }
    .historyTable thead td{/*Título Histórico*/
        font-size: 2.150em;
    }
    .historyTime td{/*Célula que mostra hora e tempo da operação na tabela histórico*/
        font-size: 1.9em;
    }
    .history_table_button{/*Célula que mostra as ultimas operações*/
        font-size: 1em;
    }
}
/*ipads modo paisagem*/
@media (min-width:1024px) and (max-height:600px){
    h1{
        padding: 15px;
        color: blue;
    }
    .divTabelas{
        height: 80%;
        width: 98%;
        display: flex;
        justify-content: space-between; /* Espaço entre os dois itens */
        align-items: center; /* Alinha verticalmente os itens no centro */
    }
    .calcTable{
       height: 100%;
       width: 50%;
    }
    .visor{
        font-size: 1.5em;
    }
    .calcTable tbody{
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .calcTable tr{
        flex-grow: 1;/*faz com que o item cresça para ocupar o espaço extra no contêiner */
    }
    .calcTable td::before {
        padding-top: 0;
    }
    .historyTable{
        height: auto; /* Altura flexível */
        width: 50%; /* Ocupa metade da largura */
        align-self: center; /* Centraliza verticalmente */
    }
    .historyTable td{
        font-size: 1.125em;
    }
    .history_table_button{
        font-size: 1em;
    }
}
/*Desktops*/
@media (min-width:1024px) and (min-height:601px) {
    h1{
        padding: 25px;
    }
    .divTabelas{
        display: flex;
        flex-direction: row;
        height: 75%;
        width: 55%;
        justify-content: space-between; /* Espaço entre os dois itens */
        align-items: center; /* Alinha verticalmente os itens no centro */
    }
    .calcTable{
        height: 100%;
        width: 350px;
     }
     .visor{
         font-size: 1.5em;
     }
     .calcTable tbody{
         min-height: 100%;
         display: flex;
         flex-direction: column;
     }
     .calcTable tr{
         flex-grow: 1;/*faz com que o item cresça para ocupar o espaço extra no contêiner */
     }
     .calcTable td::before {
         padding-top: 0;
     }
     .historyTable{
         height: auto; /* Altura flexível */
         width: 50%; /* Ocupa metade da largura */
         align-self: center; /* Centraliza verticalmente */
     }
     .historyTable td{
         font-size: 1.125em;
     }
     .history_table_button{
         font-size: 1em;
     }
}