*{/*Definições Gerais*/
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
    margin: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}
h1 {/*Titulo*/
    padding: 5px;
    text-align: center;
}
.divTabelas {/*--Tabelas estão dentro desta DIV*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    max-width: 99%;

}
table {/* Definições gerais das tabelas*/
    background-color: rgb(183, 183, 183);
    border: solid 2px rgb(128, 128, 128);
    border-radius: 15px;
    color: black;
    padding: 5px;
    width: 100%;
    font-size: 1em;
}
.calcTable {/*Tabela da Calculadora*/
    max-width: 100%;
    table-layout: fixed;
    overflow: hidden;
}
.calcTable thead {/*Cabeçalho onde fica o visor*/
    max-width: 100%;
    min-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colunas de tamanho flexível */
}
.visorPai {/*Visor esta dentro deste elemento*/
    padding: 8px;
    display: flex;
    width: 100%;
    /* Faz o visorPai ocupar toda a largura do cabeçalho */
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.visor {/* Visor da calc*/
    font-size: 1.2em;
    max-width: 100%;
    white-space: nowrap;/* Impede a quebra de linha */
    overflow: hidden; /* Esconde o texto que ultrapassar o limite do elemento */
    text-overflow: ellipsis;/* Exibe "..." no final do texto cortado */
    direction: ltr;/* Inverte a direção do texto, mostrando os números mais recentes à esquerda */
    text-align: right;/* Alinha o texto à esquerda */
}
th {/*Célula do visor*/
    padding: 10px;
    border: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.322),
        0px 1px 3px rgba(0, 0, 0, 0.322),
        -1px 0px 3px rgba(0, 0, 0, 0.322),
        0px -1px 3px rgba(0, 0, 0, 0.322);
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Esconde o texto que ultrapassar o limite do elemento */
    text-overflow: ellipsis;
    /* Exibe "..." no final do texto cortado */
}
.calcTable tr {/*Linhas*/
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.calcTable td {/*Células dos botões*/
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.322),
        0px 1px 1px rgba(0, 0, 0, 0.322),
        -1px 0px 1px rgba(0, 0, 0, 0.322),
        0px -1px 1px rgba(0, 0, 0, 0.322);
    margin: 1px;
    padding: 0;
    width: 100%;
    /*aspect-ratio: 1 / 1; /* Mantém a altura igual à largura */
    display: flex;
    border-radius: 25px;
}
.calcTable td::before {/*Deixar a altura do tamanho da largura*/
    content: '';/*Cria cobteúdo vazio*/
    padding-top: 100%;/* Garante que a altura seja sempre 100% da largura */
}
.calcTable button {/*Definições gerais dos botões da calc*/
    border-radius: 5px;
    font-size: 1.125em;
    background-color: rgba(178, 178, 178, 0.978);
    cursor: pointer;
    height: 100%;
    width: 100%;
}
button:hover {/*Efeito quando mouse passa por cima dos botões clicáveis*/
    background-color: rgb(87, 170, 202);
}


.historyTable {/*Tabela do histórico de operações*/
    table-layout: fixed;
}
.historyTable thead td {/*titulo da tabela histórico*/
    text-align: center;
   font-size: 1.2em;
}
.historyTable tbody td {/*Células do corpo da tabela*/
    text-align: center;
    padding: 1px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
.historyTable tbody tr:last-child td { /*Células da ultima linha do corpo da tabela*/
    border-bottom: none;  /* Remove a borda inferior da última linha */
}
.history_table_button {/*Célula que mostra as operações*/
    justify-content: left;
    width: 100%;
    border-radius: 5px;
    padding-top:7% ;
    cursor: pointer;
    background-color: rgb(183, 183, 183);
    height: 100%;
    white-space: nowrap;/*Impede a quebra de linha */
    overflow: hidden;/* Esconde o texto que ultrapassar o limite do elemento */
    text-overflow: ellipsis;/* Exibe "..." no final do texto cortado */
}
.celulaTime {/*Célula que mostra data e hora da operação*/
    max-width: 50%;
}
/*Mobile*/
@media (orientation: landscape){
    body{
        display: flex;
        justify-content: center;
    }
    h1{
        display: none;
    }
    .divTabelas{
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Espaço entre os dois itens */
        align-items: center; /* Alinha verticalmente os itens no centro */
        height: 95%;
        width: 98%;
    }
    .calcTable{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .calcTable td::before {
        padding-top: 0;
    }
    .calcTable tbody{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .calcTable tr{
        flex-grow: 1;/*faz com que o item cresça para ocupar o espaço extra no contêiner */
    }
    .historyTable{
        width: 50%;
    }
}
